body {
    background-color: white;
    color: black;
}
div {
    margin:15px;
}
h {
    color: black
}
p {
    color: black;
}
li { 
    display:inline-block;
}

.button {
    display:  inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #3c67e3;
    border-radius: 10px;
}
.button:hover{
    animation: pulsate 1s ease-in-out;

}
@keyframes pulsate {
    0%{
        box-shadow: 
        0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}
.button ses{
    text-align: right;
    color: hsla(70, 100%, 50%, 0.723);
    
}

#olacak {
    border-radius: 10px;
}